html{
    background-image: url(woodbackground5.jpg);
    background-size: 100%;
}
#khlitevent{
    font-family: Lobster Two;
    font-size: 45px;
    text-align:center;
    color:  #006080;
    margin:0;
    padding:28px;
}
.new1{
    width: 10cm;
    border:3px solid rgb(163, 109, 109);
    border-radius: 5px;
}
.images{
    width: 40%;
    height: 40%;
    display: inline;
    margin: -50px;
    margin-left: 90px;
    margin-top: 20px;
    float: left;
    
}
#khlittext{
    text-align: center;
    padding: 40px;
    margin-top:30px;
    font-family: Raleway;
    font-weight: 600;
    word-spacing: 0.05cm;
    letter-spacing: 0.03cm;
    color: rgb(110, 15, 70);
    line-height: 1.5; 
    text-indent: 30px;
}