html{
    background-image:url(woodbackground5.jpg);
    background-size: 100%;
}
#mynametitle{
    font-family: Lobster Two;
    font-size: 45px;
    text-align:center;
    color:  #006080;
    margin:0;
    padding:28px;
}
.new1{
    width: 10cm;
    border:3px solid rgb(163, 109, 109);
    border-radius: 5px;
}
#mynametext{
    text-align: center;
    margin: 35px;
    margin-top: 50px;
    padding:20px;
    font-family: Raleway;
    font-weight: 600;
    word-spacing: 0.05cm;
    letter-spacing: 0.03cm;
    color: rgb(110, 15, 70);
    line-height: 1.5;  
}
#molinakalim{
    text-align: center;
    margin-top: 50px;
    font-family: Cinzel;
    color: rgb(54, 88, 15);
}
